.row
  .span6
    %section#gamestats
      .page-header
        %h1 Game Leaders

      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Place
            %th Player
            %th Wins
            %th Losses
            %th Ties
        %tbody
          - @players.each_with_index do |p, index|
            %tr
              %td #{index+1}
              %td.name
                = gravatar_image_tag(p.email_address, :alt => p.full_name, :gravatar => {:size => 25})
                %strong #{p.full_name}

              %td #{p.wins}
              %td #{p.losses}
              %td #{p.ties}


  .span6
    %section#twitter
      .page-header
        %h1 Twitter
        #juitterLeaderboard

