.row
  .span6
    %section#gamestats
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Place
            %th Player
            %th Wins
            %th Losses
            %th Ties
        %tbody
          %h2 Players
          - @players.each_with_index do |p, index|
            %tr
              %td #{index+1}
              %td.name
                = gravatar_image_tag(p.email_address, :alt => p.full_name, :gravatar => {:size => 25})
                %strong #{p.full_name}

              %td #{p.wins}
              %td #{p.losses}
              %td #{p.ties}

      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th Place
            %th Player
            %th Wins
            %th Losses
            %th Ties
        %tbody
          %h2 Bosses
          - @bosses.each_with_index do |p, index|
            %tr
              %td #{index+1}
              %td.name
                = gravatar_image_tag(p.email_address, :alt => p.full_name, :gravatar => {:size => 25})
                %strong #{p.full_name}

              %td #{p.wins}
              %td #{p.losses}
              %td #{p.ties}

  .span6
    %section#twitter
      #juitterLeaderboard

:javascript 
  setTimeout("window.location.reload();", 60000);