%h1 Listing players

%table
  %tr
    %th String
    %th String
    %th Is boss
    %th Active
    %th
    %th
    %th

  - @players.each do |player|
    %tr
      %td= player.string
      %td= player.string
      %td= player.is_boss
      %td= player.active
      %td= link_to 'Show', player
      %td= link_to 'Edit', edit_player_path(player)
      %td= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Player', new_player_path
