%p#notice= notice

%p
  %b String:
  = @player.first_name
%p
  %b String:
  = @player.last_name
%p
  %b Is boss:
  = @player.is_boss
%p
  %b Is registered:
  = @player.is_registered
%p
  %b Active:
  = @player.active

= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path
