#{image_tag("buttons/#{@fight.score(@player)}L.jpg", :class => "hidden player weapon cache")}

.page-header
  .row
    .pull-right #{gravatar_image_tag(@player.email_address, :gravatar => {:size => 60})}
    %h2 #{@player.full_name}
  .row
    .pull-left #{image_tag("buttons/animated_L.gif", :height => 80, :width => 80, :class => "weapon player" )}
    .score.player.hidden #{@player_score}

.page-header
  .row  
    .pull-left #{gravatar_image_tag(@opponent.email_address, :gravatar => {:size => 40})}
    .pull-right 
      %h3 #{@opponent.full_name}
  .row
    .weapon.opponent.pull-right #{image_tag("buttons/#{@fight.score(@opponent)}R.jpg", :height => 80, :width => 80 )}
    - if @opponent_score.to_i > 0
      .score.opponent.pull-right #{ @opponent_score }


#winlose.modal.fade{:style => "display: none;"}

  .modal-body
    %a.close{"data-dismiss" => "modal"}x
    .thumbnail
      #{image_tag("#{@winlose}.gif", :class => "winlose")}
