!!! 5
%html{:lang => "en"}
  %head
    %meta{:name => "author", :content => "CafePress"}
    %meta{:charset => "utf-8"}
    %title= "ButtonGluttons: Battle for buttons"

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    = stylesheet_link_tag "application", :media => "all"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    %link{:href => image_path("favicon.ico"), :rel => "shortcut icon"}/

  %body
    #banner
      %img{:src => "http://codepalousa.com/templates/rt_entropy_j15/images/logo/style6/logo2.png"}
    
    .container.dash
      #header
        = raw build_flash
        .logo.pull-right
          %img.pull-right{:src => "http://content9.cpcache.com/global/img/cafepress-us.gif?072111", :height => 67, :width => 112 }
          %h1.hiring.pull-right Cafepress is Hiring!

      %row
        = yield
  
      .push
       
    .footer
      .footer-padding
      .footer-rule
      .footer-text
        &copy; 2012 CafePress Inc.

  = javascript_include_tag :application
